.np {
  padding: 0 !important
}

.nm {
  margin: 0 !important
}

.borderless {
  border: none !important;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

#page {}

#map {
  height: 100vh;
  width: 100vw;
}

/* leflet options */

.leaflet-control-zoom {
  display: none;
}

.leaflet-popup-close-button {
  display: none;
}

.leaflet-control-attribution.leaflet-control {
  display: none;
}
/* end leflet zoom options */

.data-container {
  height: 55vh;
  overflow-y: scroll;
  padding: 2em 1em 1.5em 1em;
}

.data-container::-webkit-scrollbar-track {
  background-color: #F5F5F5;
  border: 1px solid #eee;
}

.data-container::-webkit-scrollbar {
  width: .7em;
}

.data-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.map-container {
  height: 45vh;
}

.map-container #map {
  height: 100%;
  width: 100%;
}

.page-container {
  background-color: #eee;
  height: 100vh;
  overflow-y: scroll;
}

.ui.inverted.menu {
  background-color: #389cff;
  background-color: #4597d0;
  background-color: #015894;
  right:0;
  width:auto;
}

.ui.blue.header.city {
  color: #389cff !important;
}

.ui.inverted.menu .item {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  letter-spacing: .02em;
  padding: .8em 1.3em;
  text-transform: uppercase;
  font-size: 12px;
}

.shepherd-active .map-container, 
.shepherd-active .data-container, 
.shepherd-active .ui.fixed.menu, 
.shepherd-active #ajaxContainer,
.shepherd-active .active-criteria {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.3;
  pointer-events: none;
}

.shepherd-enabled {
  opacity: 1 !important;
}

/*#tableLocation.ui.table tr td {
  border: none;
}*/
.ui.table tr.positive {
  background-color: #daf797!important;
}

.data-container h3 {
  font-family: "Quicksand",sans-serif;
}

.data-container h3 .content {
  width: 90%;
  font-family: "Quicksand",sans-serif;
}
.data-container h3 .content a {
  font-style: italic;
  color: #389cff !important;
}

#tableLocation th {
  background-color: #f5f5f5;
}

.current-city  {
  font-family: "Quicksand"sans-serif;
}

.current-city  .content {
  width: 80%;
}

#ajaxContainer {
  position: relative;
  min-height: 80vh;
  background-color: #fff;
  padding:2em 2em;
  max-width: 900px;
  margin: 0 auto;
}

#ajaxContainer .loading-animation-container .loader {
  top:20em;
}

.page-container .ui.inverted.menu .active.item {
  background-color: rgba(55,55,55,.25);
}

#page .page-container {
  padding-top: 5em;
}

#page .template-2 .card {
  box-shadow: none;
  border:1px solid #ddd;
}

#page .active-criteria {
  max-width: 900px;
  margin: 0 auto .3em auto;
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-family: "Quicksand",sans-serif;
  font-weight: 300;
  padding-bottom: 0;
}

.active-criteria .ui.divider:not(.vertical):not(.horizontal) {
  border-top: 1px solid rgba(152, 152, 152, 0.15);
}